/*:root {
  --white:#f1f1f1
}*/
/*body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 40px;
  color: var(--white);
  letter-spacing: 0.1em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Opening page */
div > span {
  opacity: 0.15;
}
#Here, #we, #are, #in, #the, #presence, #of, #a, #shimmering, #consciousness {
  opacity: .75;
  animation: flickerHereweareinthepresenceofashimmering .5s linear  reverse infinite;
}
#consciousness::after {
  content: '';
  width: 150%;
  -webkit-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
  -moz-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
  box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
}
#Here, #we, #are, #in, #the, #presence, #of, #a, #shimmering, #consciousness {
  color: rgb(134, 191, 255);
  animation: flickerHereweareinthepresenceofashimmeringconsciousness 2s linear reverse infinite;
  position: relative;
}
#consciousness::after, 
#consciousness::before  {
  content:' ';
  width: 100px;
  height: 100px;
  background: var(--white);
  position: absolute;
  top: -50%;
  left: 70%;
  border-radius: 70%;
  opacity: 0.05;
  filter: blur(10px);
}
#consciousness::after {
  width: 350px;
  height: 200px;
  top: -150%;
  left: -5%;
  opacity: 0.1;
  filter: blur(10px);
}
#Here {
  color: rgb(134, 191, 255);
  animation: flickerconsciousness 5s linear reverse infinite;
}
#we {
  color: rgb(134, 191, 255);
  animation: flickerconsciousness 5s linear reverse infinite;
}
#are {
  color: rgb(134, 191, 255);
  animation: flickerconsciousness 5s linear reverse infinite;
}
#in {
  color: rgb(134, 191, 255);
  animation: flickerconsciousness 5s linear reverse infinite;
}
#the {
  color: rgb(134, 191, 255);
  animation: flickerconsciousness 5s linear reverse infinite;
}
#presence {
  color: rgb(134, 191, 255);
  animation: flickerconsciousness 5s linear reverse infinite;
}
#of {
  color: rgb(134, 191, 255);
  animation: flickerconsciousness 5s linear reverse infinite;
}
#shimmering {
  color: rgb(134, 191, 255);
  animation: flickerconsciousness 5s linear reverse infinite
}

@keyframes flickerconsciousness {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flickerwe {
  0% {
    opacity: 0.19;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.25;
  }
  15% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.35;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes flickerare {
  0% {
    opacity: 0.15;
  }
  5% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.12;
  }
  15% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.15;
  }
  30% {
    opacity: 0.4;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.12;
  }
  45% {
    opacity: 0.15;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.18;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes flickerinthe {
  0% {
    opacity: 0.01;
  }
  5% {
    opacity: 0.05;
  }
  10% {
    opacity: 0.03;
  }
  15% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.07;
  }
  30% {
    opacity: 0.1;
  }
  35% {
    opacity: 0.05;
  }
  40% {
    opacity: 0.06;
  }
  45% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.;
  }
  70% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.;
  }
  90% {
    opacity: 0.0;
  }
  100% {
    opacity: 0.1;
 }
}

@font-face {
  font-family: Montserrat;
  font-size: 40px;
  /*src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');*/
}
/*@font-face {
  font-family: 'IM Fell French Canon Pro';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2') format('woff2');
}*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 40px;
  color: var(--white);
  letter-spacing: 0.1em;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
header {
  background: url(../assets/bg.jpg) no-repeat;
  padding-top: 61.93333333%;
  background-size: cover;
}
header img {
  position: absolute;
  top: 0;
  right: 0;
  width: 45.8%;
}
header h1 {
  display: block;
  position: fixed;
  top: 45%;
  margin-right: 10%;
  margin-left: 10%;
  /*right: 2rem;*/
  font-size: 40px;
  line-height: 0.8;
  text-align: center;
}
/*header h1 span {
  display: block;
  font-size: 8.75vw;
}*/
main {
  background: #fff;
  position: relative;
  border: 1px solid #fff;
  font-family: 'IM Fell French Canon Pro';
  font-size: 1.4rem;
  padding: 2rem 25%;
  line-height: 1.6;
}
@media all and (max-width: 400px) {
  main {
    padding: 2rem;
 }
}

/*Navigation below*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
 * {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
   justify-content: center;
   text-decoration: none;
}
 :root {
	 font-size: 16px;
	 --link-translate-x: 3rem;
}
 a {
	 text-decoration: none;
}
 a:focus {
	 outline: none;
	 border: none;
}
 .nav__link {
	 font-size: 4rem;
	 color: rgb(0, 0, 0);
	 display: grid;
	 font-style: italic;
}
 .nav__link--text {
	 grid-area: 1;
	 transition: opacity .65s cubic-bezier(0.445, 0.05, 0.55, 0.95), transform 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
 .nav__link--text .word {
	 white-space: nowrap;
}
 .nav__link--text .char {
	 display: inline-block;
	 transform-origin: 50% 50% 0.4em;
	 transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
	 transition-delay: calc(0ms + var(--char-index) * 25ms);
	 backface-visibility: hidden;
	 margin: 0;
}
 .nav__link--text:nth-child(1) {
	 font-family: "Playfair Display";
	 font-weight: 500;
}
 .nav__link--text:nth-child(2) {
	 font-family: "Roboto";
	 font-weight: 500;
	 opacity: 0;
}
