@charset "utf-8";
/* CSS Document */

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
/*Backgrounds*/
.bg-img1{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bg-img1 {
  background-image: url("../assets/hereweare.png");
  min-height: 100%;
}
